@font-face {
  font-family: 'Linguistics Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./LinguisticsPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Linguistics Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./LinguisticsPro-Bold.woff2') format('woff2');
}
